{% extends 'base.html' %}

{% block content %}
<form action="/pasazer" method="GET">
    <button class="btn btn-secondary" type="submit">Powrót</button>
</form>
<p>Rezerwacja dla {{aktualny_pasazer}} (id - {{aktualny_pasazer.id}}) </p>
<p>Wybierz siedzenie</p>

<p>dostępne miejsca</p>
<table class=" table table-responsive">
    <thead>
    <th>Wybierz</th>
    <th>Numer miejsca</th>
    <th>Spełniane wymagania</th>
    </thead>
    <tbody>
    <form method="POST">
        {% for siedzenie in siedzenia %}
        <tr>
             <td>
                 <div class="radio">
                     <label><input type="radio" id='regular' name="optradio">TIKI</label>
                 </div>
             </td>
             <td>
             <div class="radiotext">
                 <label for='regular'>{{siedzenie.nr_miejsca}}</label>
             </div>
             </td>
             <td>
             <div class="radiotext">
                 <label for='regular'>{%for x in wymagania %}



                 {% endfor %}
                 </label>
             </div>
             </td>
         </tr>
        {% endfor %}
    </form>
    </tbody>
</table>
{% endblock %}